@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<style>

    .container
    {
        text-align :center;
        justify-content:center;
        color: #575a89;
    }

</style>
<body>


    <div class="container">
        <h1>You Are Not authorized</h1>
        <img src="~/Images/Security.gif" style="width: 663px;height: 498px" />
    </div>
</body>
</html>