
@{
    ViewData["Title"] = "PendingRegistration";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Pending Registration</title>
    <style>
        /* Center the content */
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        /* Style for the message */
        .message {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
            color :#575a89;
        }
    </style>
</head>
<body>
    <div class="center">
        <!-- Image -->
        <img src="~/images/undraw_safe_re_kiil.svg" alt="Pending Registration" width="200" class="img-fluid">
      
        <!-- Message -->
        <div class="message">
            <h2>Your registration is pending approval</h2>
            <p>Please wait for the admin to approve your registration.</p>
        </div>
    </div>
</body>
</html>

