@{
    Layout = null;
}
<DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title> Not Authorize</title>
    <style>

        .container
        {
           
             text-align:center;
             align-items:center;
             padding:5px;
        }
        h1{
            color:#575a89;
        }
    </style>
</head>
<body>
    <div class="container">
            <img src="~/Images/Security.gif"/>
            <h1>You don't have the Authority to access this page.</h1>

    </div>
</body>
</html>