@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<h1 class="text-center alert alert-danger">@ViewBag.Error</h1>