@model Schedule


@{
    ViewData["Title"] = "StudentScdule";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h1>StudentScdule</h1>

<div class="container">
    <h4>Schedule Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("dddd, dd MMMM yyyy")
        </dd>
        <!-- Add other schedule properties as needed -->
    </dl>
</div>
           
                


