@model Employee;
@{
    /*var empType = (EmployeeType)Enum.Parse(typeof(EmployeeType), Model.EmpType);/**/

    SelectList selectLists = new SelectList(Enum.GetValues(typeof(EmployeeType)));
    Layout = null;
    
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployee</title>
</head>
<body>
    <h1>AddEmployee</h1>
    <form asp-action="AddEmployee" method="post">
        
        <label>Employee Name</label>
        <input asp-for="Name" ></input>
        <br>
        <label>Employee Email</label>
        <input asp-for="Email" ></input>
        <br>
        <label>Employee Password</label>
        <input asp-for="Password"></input>
        <br>
        <label>Employee Phone</label>
        <input asp-for="Mobile" ></input>
        <br>
        <label>Employee Type</label>
        <select asp-for="EmpType" asp-items="selectLists"></select>
        <br>
        <label>EmployeeRole</label>
        <input asp-for="RoleId" ></input>
        <button type="submit" class="btn-primary">Add Employee</button>
        
    </form>

</body>
</html>
