:root {
    --main-color: #575a89;
    --blue-color: #21D1FF;
    --pink-color: #E94D90;
    --main-text-color: #575a89;
    --body-bg: #f8fafb;
}

/*styles for sign up here*/
.for-signup {
    background: #f8fafb;
}

.display-two-per-row {
    display: flex;
    gap: 30px;
}

    .display-two-per-row div {
        width: 100%;
    }

.main-signup-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 15px;
    padding: 3% 5%;
}

.signup-img {
    width: 30%;
    text-align: center;
}

    .signup-img img {
        width: 100%;
        margin: auto;
    }

.signup-form {
    width: 60%;
    background-color: #f8fafb;
}

    .signup-form h2 {
        font-size: 35px;
        color: var(--main-color);
    }

    .signup-form h3 {
        color: #6c63ff;
    }

.custome-input {
    height: 45px;
    border: none;
    border-bottom: 2px solid #e6edf1;
    padding: 4px;
    outline: none;
    width: 100%;
    background-color: #f8fafb;
    color: var(--main-color);
}

.password-input-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    
    right: 38%;
    transform: translateY(-50%);
    cursor: pointer;
}

    .eye-icon i {
        color: #888;
    }

        .eye-icon i:hover {
            color: #575a89;
        }

    

.btn.btn-custom {
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--main-color);
    font-size: 16px;
}

    .btn.btn-custom:hover {
        background-color: #6c63ff !important;
        border-color: #6c63ff !important;
    }

.custom-form-control {
    margin-bottom: 20px;
}

.custome-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--main-color);
}

@media (max-width:998px) {
    .main-signup-container {
        flex-direction: column;
    }

    .display-two-per-row {
        flex-direction: column;
        gap: 15px;
    }
}


@media (max-width:787px) {
    .imgform {
        position: absolute;
        top: 30px;
        right: 15px;
        width: 250px;
    }
}
